.panel {
  background-color: #fff;
  display: block;
  padding: 1rem 1rem 1rem 1rem;
  border-radius: 4px;
}
.panel--stor {
  background-color: #fff;
  display: block;
  padding: 1rem 1rem 1rem 1rem;
  border-radius: 4px;
  padding: 1.25rem 1rem 1.25rem 1rem;
}
.panel--border {
  border: 1px solid #c6c2bf;
}
html,
body {
  height: 100%;
}
body {
  background: #E9E7E7;
  min-height: 100%;
  width: 100%;
  overflow-x: hidden;
}
