@import './../node_modules/nav-frontend-paneler-style/src/index';
@import './../node_modules/nav-frontend-lenker-style/src/lenker-style';
@import './../node_modules/nav-frontend-typografi-style/src/index.less';
@import './../node_modules/nav-frontend-spinner-style/src/spinner-style.less';
@import './../node_modules/nav-frontend-lenkepanel-style/src/index.less';
@import './../node_modules/nav-frontend-alertstriper-style/src/index.less';
@import './../node_modules/nav-frontend-chevron-style/src/index.less';
@import './../node_modules/nav-frontend-skjema-style/src/index.less';
@import './../node_modules/nav-frontend-knapper-style/src/index.less';

@import './src/components/lenkeliste/LenkelisteContainer';
@import './src/components/personalia/Personalia';
@import './less/components/InfoMeldinger.less';
@import './less/components/LenkePanelMedIkon.less';
@import './less/components/PanelMedIkon.less';
@import './less/components/DittnavLenkePanel.less';
@import './less/components/OversiktspanelMedListe.less';
@import './less/components/DinesakerSakstema.less';
@import './less/components/Varslinger.less';
@import './less/components/Tidslinje.less';
@import './less/components/Hendelser.less';
@import './less/components/Beskjed.less';
@import './less/components/Oppgave.less';
@import './less/components/Innboks.less';
@import './less/components/PaabegynteSoknader.less';
@import './less/components/MeldekortInnsendt.less';
@import './less/components/KoronaInformasjon.less';
@import './less/components/ForskuddsInformasjon.less';
@import './less/components/KoronaSpesial.less';
@import './less/components/Brodsmulesti.less';
@import './less/components/Innloggingsmodal.less';
@import './less/pagewrapper.less';
// @import './less/components/Lenkelister.less';
// @import './less/components/PersonInfo.less';

@main-content-max-width: 640px;
@mobile-breakpoint: 576px;
@tablet-breakpoint: @screen-tablet;

html,
body {
  height: 100%;
}

body {
  background: #E9E7E7;
  min-height: 100%;
  width: 100%;
  overflow-x: hidden;
}
